$html-name-space:'body.page-id-666';

#{$html-name-space} {

  #{$page-content} {

    .main-intro {

      .col-8,
      .col-4 {
        float:none;
        padding:0;
        width:100%;
        @media (min-width:$bp-medium){
          float:left;
        }
      }
      .col-8 {
        @media (min-width:$bp-medium){
          padding-right:0;
          width:$col-8-w;
        }
      }
      .col-4 {
        display:none;
        @media (min-width:$bp-medium){
          display:block;
          width:$col-4-w;
          padding-left:30px;
        }
      }

    }

  }
}

@import '_testimonials';
@import '_videos';