$html-name-space:'body.page-id-674';

#{$html-name-space} {

  @include videos-alignment;

  #{$left-container} {
    padding:0;
    background:none;
    
    .video-iframe-grid .row {
      margin-bottom:$side-spacing-mobile;
    }

  }

}
