#{$single-post} {

  #{$left-container} {
    ul,
    dl,
    ol {
      padding-left:15px;
      padding-bottom:$spacing-main-cont;
    }
    ul,
    dl {
      list-style-type:disc;
    }
    ol {
      list-style-type:decimal;
      padding-left:22px;
    }
  }

}

#{$comments} {
  clear:both;
}