#{$blog-home} {

  .blog-posts {

    .post {
      border-bottom:solid 3px $black-2;
      padding-bottom:30px;
      margin-bottom:$side-spacing-mobile;
    }

    img {
      width:100%;
    }
    .post-content-text {
      margin-bottom:$side-spacing-mobile;
    }
  }

}