#{$blog-home} {

  .blog-posts {

    .post {
      border-bottom:solid 3px $black-2;
      padding-bottom:30px;
      margin-bottom:30px;
    }

    .image-wrap {
      max-height:260px;
      overflow:hidden;
      margin:25px 0;
    }
    img {
      width:100%;

    }
    .post-content-text {
      margin-bottom:25px;
    }
  }

}