#{$single-post} {

  .comment-reply-title {
    clear:both;
    font-size:15px !important;
    margin-bottom:$side-spacing-mobile;
  }

  #{$left-container} {
    ul,
    dl,
    ol {
      padding-left:15px;
      padding-bottom:$spacing-main-cont;
    }
    ul,
    dl {
      list-style-type:disc;
    }
    ol {
      list-style-type:decimal;
      padding-left:22px;
    }
  }

}