#{$single-post} {

  ul,
  dl {
    padding-left:15px;
    padding-bottom:$spacing-main-cont;
  }
  ul,
  dl {
    list-style-type:disc;
  }
  ol {
    list-style-type:decimal;
  }

}

#{$comments} {
  clear:both;
}