$html-name-space:'body.page-id-202';

#{$html-name-space} {
/*
  #{$left-container} {
    width:100%;
  }
  #{$right-container} {
    display:none;
  }
*/
/*
  #{$comments} {
    display:none;
  }
  */

  #{$page-content} {

  }

}