$html-name-space:'body.page-id-377';

#{$html-name-space} {

  @include left-container-full-width;
  #{$left-container} {


    .col-4 {
      max-width:150px;
      margin:0 auto;
      @media (min-width:$bp-small) {
        float:right;
        max-width:222px;
      }
      img {
        margin-bottom:10px;
        @media (min-width:$bp-small) {
          margin-bottom:0;
        }
      }
    }
    .col-8 {
      @media (min-width:$bp-small) {
        padding-right:30px;
      }
    }
    blockquote:last-child {
      display:inline-block;
      vertical-align:top;
      width:100%;
      margin-top:20px;
    }

  }

  .wpcf7-form {
    p:nth-child(5) {
      margin-bottom:10px;
    }
    span.wpcf7-form-control-wrap {
      width:100%;
      margin-top:0;
      @media (min-width:$bp-medium) {
        max-width:480px;
      }
      input,
      textarea {
        width:100%;
        transition:all 0.2s ease;
        &:hover,
        &:focus {
          border-color:#816A00;
        }
      }
      input {
        @media (min-width:$bp-medium) {
          max-width:250px;
        }
      }
      textarea {
        @media (min-width:$bp-medium) {
          width:100%;
          max-width:100%;
        }
      }
    }
  }
  input[type="submit"] {
    width:100%;
    @media (min-width:$bp-medium) {
      width:auto;
    }
  }


  //form error messages
  .screen-reader-response {
    color:$red-1;
    font-weight:bold;
    ul {
      display:none;
    }
  }

  span.wpcf7-not-valid-tip {
    display:block;
    color:$red-1;
    font-weight:bold;
    padding:{
      top:5px;
      left:$side-spacing-mobile;
    }
    @media (min-width:$bp-medium) {
      padding-top:0;
      display:inline-block;
      vertical-align:middle;
    }
  }

  div.wpcf7-validation-errors {
    padding:0;
    text-align:left;
    background:none;
    color:$red-1;
    font-weight:bold;
  }
  .wpcf7-response-output {
    margin-top:0;
  }
  .ajax-loader {
    opacity:0.6;
    margin:{
      top:5px;
      bottom:0;
    }
    @media (min-width:$bp-small) {
      display:inline-block;
      vertical-align:middle;
      margin:{
        top:0;
        left:10px;
      }
    }
  }

  form.invalid {
    padding-top:10px;
    input[type="submit"] {
      margin-bottom:10px;
    }
  }

}