$html-name-space:'body.page-id-464, body.page-id-676, body.page-id-682';

#{$html-name-space} {

  #{$left-container} {
    background:none;
    padding:0;
  }

  .row {
    margin-bottom:$spacing-main-cont;
    padding-bottom:$spacing-main-cont;
    text-align:center;
    background:$black-full;
    margin-top:0;
    @media (min-width:$bp-small) {
      padding-top:$spacing-main-cont;
    }
    @media (min-width:$bp-small) {
      text-align:left;
    }
    &:last-child {
      margin-bottom:0;
    }

    .col-12 {
      padding:{
        top:$side-spacing-mobile-small * 4;
        right:$side-spacing-mobile-small * 4;
        bottom:$side-spacing-mobile-small * 4;
        left:$side-spacing-mobile-small * 4;
      }
      @media (min-width:$bp-small) {
        padding:{
          top:0;
          bottom:0;
        }
      }
      h4 {
        margin-bottom:10px;
      }
      p:last-child {
        margin-bottom:0;
        @media (min-width:$bp-small) {
          margin-bottom:10px;
        }
      }
    }
    .col-3 {
      text-align:center;
      padding:{
        top:$side-spacing-mobile-small * 4;
        right:$side-spacing-mobile-small * 2;
        bottom:$spacing-main-cont;
        left:$side-spacing-mobile-small * 2;
      }
      @media (min-width:$bp-small) {
        padding:{
          top:0;
          right:$spacing-main-cont;
          bottom:0;
          left:$spacing-main-cont;
        }
      }
    }
    .col-9 {
      padding:{
        right:$side-spacing-mobile-small * 2;
        left:$side-spacing-mobile-small * 2;
      }
      @media (min-width:$bp-small) {
        padding:{
          right:$spacing-main-cont;
          left:0;
        }
      }
    }
    img {
      float:none;
      display:block;
      margin:0 auto;
    }
    p {
      margin-bottom:10px;
      strong {
        color:$grey-light-3;
      }
    }
  }

}