$html-name-space:'body.page-id-464, body.page-id-676, body.page-id-682, body.page-id-1138';

#{$html-name-space} {

  .page-title {
    @media (min-width:$bp-medium) {
      float:left;
    }
    + .btn-wrap {
      margin-bottom:$spacing-main-cont;
      @media (min-width:$bp-medium) {
        float:right;
        margin-bottom:0;
      }
      .btn {
        display:inline-block;
        vertical-align:top;
        padding:5px;
        margin-right:6px;
        font-size:12px;
        &:last-child {
          margin-right:0;
        }
      }
    }
  }

  #{$left-container} .row {
    margin-bottom:$spacing-main-cont;
    text-align:center;
    background:$black-full;
    margin-top:0;
    padding:10px;
    @media (min-width:$bp-small) {
      text-align:left;
      padding-bottom:0;
    }
    &:last-child {
      margin-bottom:0;
    }

    .col-12 {
      padding:0;
      @media (min-width:$bp-small) {
        padding:{
          top:0;
          bottom:0;
        }
      }
      h4 {
        margin-bottom:10px;
      }
      p:last-child {
        margin-bottom:0;
        @media (min-width:$bp-small) {
          margin-bottom:10px;
        }
      }
    }
    .col-3 {
      text-align:center;
      padding:{
        top:0;
        right:$side-spacing-mobile-small * 2;
        bottom:$spacing-main-cont;
        left:0;
      }
      @media (min-width:$bp-small) {
        padding:{
          top:0;
          right:$spacing-main-cont;
          bottom:0;
          left:0;
        }
      }
    }
    .col-9 {
      padding:{
        right:$side-spacing-mobile-small * 2;
        left:$side-spacing-mobile-small * 2;
      }
      @media (min-width:$bp-small) {
        padding:{
          right:$spacing-main-cont;
          left:0;
        }
      }
    }
    img {
      float:none;
      display:block;
      margin:5px auto 0 auto;
    }
    p {
      margin-bottom:10px;
    }
    &:nth-child(odd) {
      background:#2C2C2C;
    }
    /*
    &:nth-child(odd) {
      p {
        color:#7B7B7B;
        strong {
          color:$grey-light-3;
        }
        &:last-child {
          strong {
            color:$grey-light-2;
          }
        }
      }
      h4 {
        color:#7B7B7B;
      }
    }
    */
    &:nth-child(even) {
      p {
        color:$grey-light-1;
        strong {
          color:$grey-light-2;
        }
        &:last-child {
          strong {
            color:$grey-light-3;
          }
        }
      }
      h4 {
        color:$grey-light-1;
      }
    }
  }

}

//about > testimonials
body.page-id-1138 {
  h2.page-title {
    display:none;
  }


  #{$left-container} {
    background:none;
    padding:0;
  }

  .testimonial-section {
    float:left;
    clear:both;
    width:100%;
    padding:$spacing-main-cont;
    margin-bottom:$spacing-main-cont * 2;
    background:$black-full;
    h2.page-title {
      display:block;
    }
  }

}