$html-name-space:'body.page-id-71';

#{$html-name-space} {

  #{$left-container} {
    width:100%;
  }
  #{$right-container} {
    display:none;
  }

  .parent-page-links-grid {
    margin-bottom:30px;
    .col-3 {
      @media (min-width:$bp-medium){
        max-height:117px;
        .title {
          line-height:117px;
        }
      }
      @media (min-width:$bp-large){
        max-height:150px;
        .title {
          line-height:150px;
        }
      }
    }
  }

  #{$page-content} {
    .col-9 {
      padding-right:30px;
    }
    .col-3 {
      padding-right:0;
    }
  }

}

@import '_boxing-bio';
@import '_fight-record';
@import '_fight-clips';