$html-name-space:'body.page-id-408';

#{$html-name-space} {

  #{$left-container} {
    img.alignleft {
      @media (min-width:$bp-medium) {
        margin:{
          right:30px;
          bottom:15px;
        }
      }
    }
  }

  .strength-conditioning-info-grid {
    .row {
      @media (min-width:$bp-small) {
        margin-bottom:$side-spacing-mobile * 2;
      }
      .col-6 {
        padding-bottom:$side-spacing-mobile;
        @media (min-width:$bp-small) {
          padding-bottom:0;
        }
        &:first-child {
          @media (min-width:$bp-small) {
            padding-right:$side-spacing-mobile;
          }
        }
        .inner {
          background:$black-full;
          padding:$side-spacing-mobile-small * 2;
        }
        h4 {
          margin-bottom:5px;
        }
        p {
          margin:0;
        }
      }
    }
  }
}
