$html-name-space:'body.page-id-464';

#{$html-name-space} {
  @include left-container-full-width;

  .row {
    margin-bottom:$spacing-main-cont;
    padding-bottom:$spacing-main-cont;
    @media (min-width:$bp-small) {
      padding-top:$spacing-main-cont;
    }
    text-align:center;
    @media (min-width:$bp-small) {
      text-align:left;
    }
    &:first-child {
      padding-top:0;
    }
    &:last-child {
      padding-bottom:0;
      margin-bottom:0;
    }

    .col-3 {
      text-align:center;
      padding:{
        top:$side-spacing-mobile-small * 4;
        right:$side-spacing-mobile-small * 2;
        bottom:$spacing-main-cont;
        left:$side-spacing-mobile-small * 2;
      }
      @media (min-width:$bp-small) {
        padding:{
          top:0;
          right:$spacing-main-cont;
          bottom:0;
          left:$spacing-main-cont;
        }
      }
    }
    .col-9 {
      padding:{
        right:$side-spacing-mobile-small * 2;
        left:$side-spacing-mobile-small * 2;
      }
      @media (min-width:$bp-small) {
        padding:{
          right:$spacing-main-cont;
          left:0;
        }
      }
    }
    img {
      float:none;
      display:block;
      margin:0 auto;
    }
    p {
      margin-bottom:10px;
      strong {
        color:$grey-light-3;
      }
    }
    &:nth-child(even) {
      background:$black-full;
      margin-top:0;
    }
  }


}