* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

img {
  display: block;
  margin: 0 auto 20px auto; }
  @media (min-width: 768px) {
    img {
      margin: 0; } }

@media (min-width: 768px) {
  .alignleft {
    float: left; } }

@media (min-width: 768px) {
  .alignright {
    float: right; } }

iframe {
  width: 100%;
  max-width: 100%; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  padding: 0; }
  @media (min-width: 600px) {
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
      float: left; } }

@media (min-width: 600px) {
  .col-1 {
    width: 8.33333%; }

  .col-2 {
    width: 16.66667%; }

  .col-3 {
    width: 25%; }

  .col-4 {
    width: 33.33333%; }

  .col-5 {
    width: 45%; }

  .col-6 {
    width: 50%; }

  .col-7 {
    width: 58.33333%; }

  .col-8 {
    width: 66.66667%; }

  .col-9 {
    width: 75%; }

  .col-10 {
    width: 83.33333%; }

  .col-11 {
    width: 91.66667%; }

  .col-12 {
    width: 100%; }
 }

::-moz-selection {
  background: #FFD100;
  color: #000;
  text-shadow: none; }

::selection {
  background: #FFD100;
  color: #000;
  text-shadow: none; }

.post-edit-link {
  display: none; }

h2 {
  margin-top: 0;
  margin-top: 0;
  margin-bottom: 20px; }

h1, h2, h3, h4, h5 {
  color: #C5C5C5; }

a {
  color: #3A81A5;
  text-decoration: underline; }
  a:hover, a:focus {
    text-decoration: none; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  padding: 0; }
  @media (min-width: 600px) {
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
      float: left; } }

@media (min-width: 600px) {
  .col-1 {
    width: 8.33333%; }

  .col-2 {
    width: 16.66667%; }

  .col-3 {
    width: 25%; }

  .col-4 {
    width: 33.33333%; }

  .col-5 {
    width: 45%; }

  .col-6 {
    width: 50%; }

  .col-7 {
    width: 58.33333%; }

  .col-8 {
    width: 66.66667%; }

  .col-9 {
    width: 75%; }

  .col-10 {
    width: 83.33333%; }

  .col-11 {
    width: 91.66667%; }

  .col-12 {
    width: 100%; }
 }

body {
  font-family: Helvetica, arial, sans-serif;
  background: #212121;
  color: #989898;
  font-size: 13px; }

.header-container, .main-container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto; }

@media (min-width: 768px) {
  .main-container {
    padding: 0 20px; } }

@media (min-width: 768px) {
  .page-content .left-container, .page-content .right-container {
    float: left; } }
.page-content .left-container {
  padding: 15px; }
  @media (min-width: 768px) {
    .page-content .left-container {
      width: 70%;
      padding: 0; } }
.page-content .right-container {
  display: none; }
  @media (min-width: 768px) {
    .page-content .right-container {
      display: block;
      width: 30%;
      padding-left: 35px; } }

.row {
  float: left;
  clear: both;
  width: 100%; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  padding: 0; }
  @media (min-width: 600px) {
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
      float: left; } }

@media (min-width: 600px) {
  .col-1 {
    width: 8.33333%; }

  .col-2 {
    width: 16.66667%; }

  .col-3 {
    width: 25%; }

  .col-4 {
    width: 33.33333%; }

  .col-5 {
    width: 45%; }

  .col-6 {
    width: 50%; }

  .col-7 {
    width: 58.33333%; }

  .col-8 {
    width: 66.66667%; }

  .col-9 {
    width: 75%; }

  .col-10 {
    width: 83.33333%; }

  .col-11 {
    width: 91.66667%; }

  .col-12 {
    width: 100%; }
 }

.header-wrap {
  background: #050505;
  margin-bottom: 20px; }

.header-container {
  position: relative;
  text-align: left;
  padding: 20px 15px 0; }
  @media (min-width: 768px) {
    .header-container {
      padding-bottom: 20px; } }

.header-container .logo {
  float: left;
  width: 65%; }
  .header-container .logo img {
    width: 100%;
    max-width: 253px; }

.header-container .header-nav {
  float: right; }
  .header-container .header-nav .dropdown-menu a {
    color: #808080; }
    .header-container .header-nav .dropdown-menu a:hover, .header-container .header-nav .dropdown-menu a:focus {
      color: #FFF; }

a#navigation-toggle {
  line-height: 30px; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  padding: 0; }
  @media (min-width: 600px) {
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
      float: left; } }

@media (min-width: 600px) {
  .col-1 {
    width: 8.33333%; }

  .col-2 {
    width: 16.66667%; }

  .col-3 {
    width: 25%; }

  .col-4 {
    width: 33.33333%; }

  .col-5 {
    width: 45%; }

  .col-6 {
    width: 50%; }

  .col-7 {
    width: 58.33333%; }

  .col-8 {
    width: 66.66667%; }

  .col-9 {
    width: 75%; }

  .col-10 {
    width: 83.33333%; }

  .col-11 {
    width: 91.66667%; }

  .col-12 {
    width: 100%; }
 }

.social-icons {
  display: none; }
  @media (min-width: 768px) {
    .social-icons {
      display: block;
      float: left;
      clear: both;
      width: 100%;
      margin-bottom: 20px;
      padding-right: 15px; } }
  .social-icons ul {
    float: right; }
  .social-icons li {
    display: inline-block;
    vertical-align: top;
    margin: 0 2.5px; }
    .social-icons li:first-child {
      margin-left: 0; }
    .social-icons li:last-child {
      margin-right: 0; }
    .social-icons li.facebook a {
      color: #3B5998; }
    .social-icons li.twitter a {
      color: #00abf1; }
    .social-icons li.linkedin a {
      color: #0083be; }
    .social-icons li.youtube a {
      color: #cf2200; }
  .social-icons a {
    display: block;
    width: 25px;
    height: 25px;
    opacity: 0.25;
    font-size: 22px; }
    @media (min-width: 768px) {
      .social-icons a {
        transition: all 0.2s ease; }
        .social-icons a:hover, .social-icons a:focus {
          opacity: 1; } }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  padding: 0; }
  @media (min-width: 600px) {
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
      float: left; } }

@media (min-width: 600px) {
  .col-1 {
    width: 8.33333%; }

  .col-2 {
    width: 16.66667%; }

  .col-3 {
    width: 25%; }

  .col-4 {
    width: 33.33333%; }

  .col-5 {
    width: 45%; }

  .col-6 {
    width: 50%; }

  .col-7 {
    width: 58.33333%; }

  .col-8 {
    width: 66.66667%; }

  .col-9 {
    width: 75%; }

  .col-10 {
    width: 83.33333%; }

  .col-11 {
    width: 91.66667%; }

  .col-12 {
    width: 100%; }
 }

#sidr-main {
  background: #050505;
  padding: 45px 15px 15px; }
  #sidr-main .sidr-class-toggle-sidr-close:before {
    top: 15px;
    left: 15px; }
  #sidr-main ul a {
    text-decoration: none;
    border-bottom-color: #242424;
    padding: 10px 0;
    font-weight: 500;
    font-size: 14px; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  padding: 0; }
  @media (min-width: 600px) {
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
      float: left; } }

@media (min-width: 600px) {
  .col-1 {
    width: 8.33333%; }

  .col-2 {
    width: 16.66667%; }

  .col-3 {
    width: 25%; }

  .col-4 {
    width: 33.33333%; }

  .col-5 {
    width: 45%; }

  .col-6 {
    width: 50%; }

  .col-7 {
    width: 58.33333%; }

  .col-8 {
    width: 66.66667%; }

  .col-9 {
    width: 75%; }

  .col-10 {
    width: 83.33333%; }

  .col-11 {
    width: 91.66667%; }

  .col-12 {
    width: 100%; }
 }

.right-container .menu {
  background: #050505;
  padding: 20px; }
  .right-container .menu a {
    display: inline-block;
    text-decoration: none; }
  .right-container .menu h3 a {
    color: #C5C5C5;
    padding-bottom: 10px; }
  .right-container .menu li a {
    padding: 5px 0;
    color: #989898; }
    .right-container .menu li a:hover, .right-container .menu li a:focus {
      color: #C5C5C5; }
  .right-container .menu li:last-child a {
    padding-bottom: 0; }

.page_item_has_children > .children {
  display: none; }

.page_item_has_children.current_page_item > .children, .page_item_has_children.current_page_ancestor > .children {
  display: block; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  padding: 0; }
  @media (min-width: 600px) {
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
      float: left; } }

@media (min-width: 600px) {
  .col-1 {
    width: 8.33333%; }

  .col-2 {
    width: 16.66667%; }

  .col-3 {
    width: 25%; }

  .col-4 {
    width: 33.33333%; }

  .col-5 {
    width: 45%; }

  .col-6 {
    width: 50%; }

  .col-7 {
    width: 58.33333%; }

  .col-8 {
    width: 66.66667%; }

  .col-9 {
    width: 75%; }

  .col-10 {
    width: 83.33333%; }

  .col-11 {
    width: 91.66667%; }

  .col-12 {
    width: 100%; }
 }

.foogallery-default.border-style-rounded a {
  border-radius: 0;
  width: 33.33333%;
  margin: 0 !important;
  padding: 10px;
  background-color: transparent !important; }
  .foogallery-default.border-style-rounded a:nth-child(1n) {
    padding-left: 0; }
  .foogallery-default.border-style-rounded a:nth-child(3n) {
    padding-right: 0; }

.fbx-light .fbx-inner {
  border: 0 none;
  background: #050505;
  box-shadow: 0 2px 29px #000; }
.fbx-light .fbx-count {
  display: none; }

.fbx-modal.fbx-phone {
  border-color: #050505 !important; }
  .fbx-modal.fbx-phone .fbx-prev, .fbx-modal.fbx-phone .fbx-next, .fbx-modal.fbx-phone .fbx-close {
    background: #050505 !important; }

.fbx-rounded.fbx-tablet .fbx-prev, .fbx-rounded.fbx-tablet .fbx-next, .fbx-rounded.fbx-desktop .fbx-prev, .fbx-rounded.fbx-desktop .fbx-next {
  background: none; }
  .fbx-rounded.fbx-tablet .fbx-prev::before, .fbx-rounded.fbx-tablet .fbx-next::before, .fbx-rounded.fbx-desktop .fbx-prev::before, .fbx-rounded.fbx-desktop .fbx-next::before {
    color: #C5C5C5; }
.fbx-rounded.fbx-tablet .fbx-close, .fbx-rounded.fbx-desktop .fbx-close {
  display: none; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  padding: 0; }
  @media (min-width: 600px) {
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
      float: left; } }

@media (min-width: 600px) {
  .col-1 {
    width: 8.33333%; }

  .col-2 {
    width: 16.66667%; }

  .col-3 {
    width: 25%; }

  .col-4 {
    width: 33.33333%; }

  .col-5 {
    width: 45%; }

  .col-6 {
    width: 50%; }

  .col-7 {
    width: 58.33333%; }

  .col-8 {
    width: 66.66667%; }

  .col-9 {
    width: 75%; }

  .col-10 {
    width: 83.33333%; }

  .col-11 {
    width: 91.66667%; }

  .col-12 {
    width: 100%; }
 }

h2.page-title {
  clear: both;
  color: #C5C5C5;
  padding: 0 15px; }
  @media (min-width: 768px) {
    h2.page-title {
      padding: 0; } }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  padding: 0; }
  @media (min-width: 600px) {
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
      float: left; } }

@media (min-width: 600px) {
  .col-1 {
    width: 8.33333%; }

  .col-2 {
    width: 16.66667%; }

  .col-3 {
    width: 25%; }

  .col-4 {
    width: 33.33333%; }

  .col-5 {
    width: 45%; }

  .col-6 {
    width: 50%; }

  .col-7 {
    width: 58.33333%; }

  .col-8 {
    width: 66.66667%; }

  .col-9 {
    width: 75%; }

  .col-10 {
    width: 83.33333%; }

  .col-11 {
    width: 91.66667%; }

  .col-12 {
    width: 100%; }
 }

blockquote {
  font-family: Helvetica, arial, sans-serif;
  clear: both;
  width: 100%;
  line-height: 1.3em;
  padding: 10px 10px 10px 46px;
  margin-bottom: 20px;
  color: #989898;
  background-color: #050505;
  background-position: 10px 8px; }
  blockquote p {
    color: #C5C5C5;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 0; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  padding: 0; }
  @media (min-width: 600px) {
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
      float: left; } }

@media (min-width: 600px) {
  .col-1 {
    width: 8.33333%; }

  .col-2 {
    width: 16.66667%; }

  .col-3 {
    width: 25%; }

  .col-4 {
    width: 33.33333%; }

  .col-5 {
    width: 45%; }

  .col-6 {
    width: 50%; }

  .col-7 {
    width: 58.33333%; }

  .col-8 {
    width: 66.66667%; }

  .col-9 {
    width: 75%; }

  .col-10 {
    width: 83.33333%; }

  .col-11 {
    width: 91.66667%; }

  .col-12 {
    width: 100%; }
 }

input, textarea {
  background: #050505;
  color: #989898;
  font-size: 14px;
  border: 0 none;
  padding: 15px; }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #606060; }
  input:-moz-placeholder, textarea:-moz-placeholder {
    color: #606060; }
  input::-moz-placeholder, textarea::-moz-placeholder {
    color: #606060; }
  input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #606060; }

input[type="submit"] {
  cursor: pointer;
  padding: 12px 13px;
  background: #2C4721;
  color: #C5C5C5;
  font-weight: bold; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  padding: 0; }
  @media (min-width: 600px) {
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
      float: left; } }

@media (min-width: 600px) {
  .col-1 {
    width: 8.33333%; }

  .col-2 {
    width: 16.66667%; }

  .col-3 {
    width: 25%; }

  .col-4 {
    width: 33.33333%; }

  .col-5 {
    width: 45%; }

  .col-6 {
    width: 50%; }

  .col-7 {
    width: 58.33333%; }

  .col-8 {
    width: 66.66667%; }

  .col-9 {
    width: 75%; }

  .col-10 {
    width: 83.33333%; }

  .col-11 {
    width: 91.66667%; }

  .col-12 {
    width: 100%; }
 }

.btn {
  color: #C5C5C5;
  font-weight: bold;
  text-decoration: none; }

.btn-sm {
  padding: 9px;
  font-size: 12px; }

.btn-green {
  background: #2C4721; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  padding: 0; }
  @media (min-width: 600px) {
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
      float: left; } }

@media (min-width: 600px) {
  .col-1 {
    width: 8.33333%; }

  .col-2 {
    width: 16.66667%; }

  .col-3 {
    width: 25%; }

  .col-4 {
    width: 33.33333%; }

  .col-5 {
    width: 45%; }

  .col-6 {
    width: 50%; }

  .col-7 {
    width: 58.33333%; }

  .col-8 {
    width: 66.66667%; }

  .col-9 {
    width: 75%; }

  .col-10 {
    width: 83.33333%; }

  .col-11 {
    width: 91.66667%; }

  .col-12 {
    width: 100%; }
 }

table {
  width: 100% !important; }

th, tr:first-child td {
  color: #C5C5C5;
  font-weight: bold;
  padding-top: 0; }

td {
  padding: 10px 0;
  border-bottom: solid 1px #393939; }

tr td:first-child {
  padding-right: 10px; }
tr td:last-child {
  padding-left: 10px; }

tr:last-child td {
  border-bottom: 0 none;
  padding-bottom: 0; }

body.home .home-intro, body.home .home-small-banner {
  margin-bottom: 20px; }
@media (min-width: 768px) {
  body.home .home-intro {
    background: #050505;
    overflow-x: hidden; } }
body.home .home-intro .left, body.home .home-intro .right {
  width: 100%;
  clear: both; }
  @media (min-width: 768px) {
    body.home .home-intro .left, body.home .home-intro .right {
      clear: none;
      padding: 20px; } }
body.home .home-intro .left {
  padding: 20px 15px 0; }
  @media (min-width: 768px) {
    body.home .home-intro .left {
      float: left;
      width: 48%;
      padding: 30px 0 30px 30px; }
      body.home .home-intro .left p:last-child {
        margin-bottom: 0; } }
@media (min-width: 768px) {
  body.home .home-intro .right {
    float: right;
    width: 525px;
    margin-right: -55px;
    padding: 0; } }
body.home .home-intro h2 {
  color: #FFF;
  font-size: 15px;
  margin-bottom: 15px; }
body.home .home-intro img {
  width: 100%;
  vertical-align: middle; }
body.home .home-small-banner {
  padding: 20px;
  background: #050505; }
  body.home .home-small-banner .col-3 img {
    display: block;
    margin-bottom: 15px; }
    @media (min-width: 768px) {
      body.home .home-small-banner .col-3 img {
        margin-bottom: 0;
        padding-right: 25px; } }
  @media (min-width: 768px) {
    body.home .home-small-banner .col-8 {
      max-width: 60%;
      padding-top: 5px;
      text-align: center;
      font-size: 0.95em; } }
  body.home .home-small-banner .col-2:last-child {
    display: none; }
    @media (min-width: 768px) {
      body.home .home-small-banner .col-2:last-child {
        display: block;
        float: right;
        max-width: 104px; } }
  body.home .home-small-banner img {
    vertical-align: middle; }
  body.home .home-small-banner p {
    margin-bottom: 0; }
body.home .home-3-banners .col-4 {
  text-align: center;
  padding-bottom: 20px; }
  @media (min-width: 768px) {
    body.home .home-3-banners .col-4 {
      padding-top: 0;
      padding-right: 20px;
      padding-bottom: 20px;
      padding-left: 20px; } }
  body.home .home-3-banners .col-4 .inner {
    min-height: 162px;
    background: #050505; }
  body.home .home-3-banners .col-4 img {
    margin: 0 auto; }
  @media (min-width: 768px) {
    body.home .home-3-banners .col-4:first-child {
      padding-left: 0; } }
  body.home .home-3-banners .col-4:last-child {
    display: none; }
    @media (min-width: 768px) {
      body.home .home-3-banners .col-4:last-child {
        display: block;
        padding-right: 0; }
        body.home .home-3-banners .col-4:last-child img {
          margin: 64.5px 0; } }

@media (min-width: 768px) {
  body.page-id-353 .left-container img {
    margin-right: 25px; } }

body.page-id-356 .left-container ul {
  list-style-type: disc;
  padding-left: 15px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: solid 2px #252525; }
  body.page-id-356 .left-container ul:last-child {
    border-bottom: 0 none;
    padding-bottom: 0;
    margin-bottom: 0; }
  body.page-id-356 .left-container ul li:first-child {
    color: #C5C5C5;
    font-size: 14px;
    margin-left: -15px;
    list-style-type: none; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  padding: 0; }
  @media (min-width: 600px) {
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
      float: left; } }

@media (min-width: 600px) {
  .col-1 {
    width: 8.33333%; }

  .col-2 {
    width: 16.66667%; }

  .col-3 {
    width: 25%; }

  .col-4 {
    width: 33.33333%; }

  .col-5 {
    width: 45%; }

  .col-6 {
    width: 50%; }

  .col-7 {
    width: 58.33333%; }

  .col-8 {
    width: 66.66667%; }

  .col-9 {
    width: 75%; }

  .col-10 {
    width: 83.33333%; }

  .col-11 {
    width: 91.66667%; }

  .col-12 {
    width: 100%; }
 }

body.page-id-202 h3, body.page-id-202 h1, body.single-post h3, body.single-post h1 {
  font-size: 18px;
  margin-bottom: 0; }
  body.page-id-202 h3 a, body.page-id-202 h1 a, body.single-post h3 a, body.single-post h1 a {
    color: #C5C5C5;
    text-decoration: none; }
body.page-id-202 .date, body.single-post .date {
  color: #515151; }
body.page-id-202 .image-wrap, body.single-post .image-wrap {
  max-height: 260px;
  overflow: hidden;
  margin: 25px 0; }
  body.page-id-202 .image-wrap img, body.single-post .image-wrap img {
    width: 100%; }

body.page-id-202 .blog-posts .post {
  border-bottom: solid 3px #252525;
  padding-bottom: 30px;
  margin-bottom: 30px; }
body.page-id-202 .blog-posts img {
  width: 100%; }
body.page-id-202 .blog-posts .post-content-text {
  margin-bottom: 25px; }

body.single-post .left-container ul, body.single-post .left-container dl {
  padding-left: 15px;
  padding-bottom: 20px; }
body.single-post .left-container ul, body.single-post .left-container dl {
  list-style-type: disc; }
body.single-post .left-container ol {
  list-style-type: decimal; }

.comments-area {
  clear: both; }

body.page-id-71 .left-container {
  width: 100%; }
body.page-id-71 .right-container {
  display: none; }
body.page-id-71 .page-content .col-9 {
  padding-right: 30px; }
body.page-id-71 .page-content .col-3 {
  padding-right: 0; }

body.page-id-108 .left-container {
  width: 100%; }
body.page-id-108 .right-container {
  display: none; }
body.page-id-108 table td {
  padding-right: 5px;
  padding-left: 5px; }
body.page-id-108 table p {
  margin-bottom: 0; }
body.page-id-108 table a {
  color: #989898;
  text-decoration: none; }
  body.page-id-108 table a:hover, body.page-id-108 table a:focus {
    text-decoration: underline; }
body.page-id-108 table .date {
  display: none; }
  @media (min-width: 600px) {
    body.page-id-108 table .date {
      display: table-cell; } }

body.page-id-104 .left-container {
  width: 100%; }
body.page-id-104 .right-container {
  display: none; }
@media (min-width: 600px) {
  body.page-id-104 .video-iframe-grid .row .col-4 p {
    min-height: 45px; } }

body.page-id-2 .left-container .col-4 {
  padding-right: 20px; }
body.page-id-2 .left-container blockquote + .row {
  margin-bottom: 15px; }

body.page-id-218 .left-container {
  width: 100%; }
body.page-id-218 .right-container {
  display: none; }

body.page-id-384 .left-container {
  width: 100%; }
body.page-id-384 .right-container {
  display: none; }

body.page-id-377 .left-container {
  width: 100%; }
body.page-id-377 .right-container {
  display: none; }
body.page-id-377 .wpcf7-form span.wpcf7-form-control-wrap {
  width: 100%; }
  @media (min-width: 768px) {
    body.page-id-377 .wpcf7-form span.wpcf7-form-control-wrap {
      max-width: 480px; } }
  body.page-id-377 .wpcf7-form span.wpcf7-form-control-wrap input, body.page-id-377 .wpcf7-form span.wpcf7-form-control-wrap textarea {
    width: 100%; }
  @media (min-width: 768px) {
    body.page-id-377 .wpcf7-form span.wpcf7-form-control-wrap input {
      max-width: 250px; } }
  @media (min-width: 768px) {
    body.page-id-377 .wpcf7-form span.wpcf7-form-control-wrap textarea {
      width: 100%;
      max-width: 100%; } }
body.page-id-377 input[type="submit"] {
  width: 100%;
  margin-top: -5px; }
  @media (min-width: 768px) {
    body.page-id-377 input[type="submit"] {
      width: auto; } }

/*
body.page-template-media {
  .page-content {
    .col-3 {
      padding-right:15px;
    }
  }
}
*/
.article-grid .col-3 {
  float: left;
  width: 50%;
  padding: 5px; }
  .article-grid .col-3:nth-child(odd) {
    clear: left; }
    @media (min-width: 768px) {
      .article-grid .col-3:nth-child(odd) {
        clear: none; } }
  @media (min-width: 768px) {
    .article-grid .col-3 {
      width: 25%;
      clear: none;
      padding: 7.5px; }
      .article-grid .col-3:first-child {
        padding-left: 0; }
      .article-grid .col-3:last-child {
        padding-right: 0; } }
.article-grid a {
  display: block;
  opacity: 0.8;
  max-height: 150px;
  overflow-y: hidden; }
  @media (min-width: 50px) {
    .article-grid a {
      max-height: 180px; } }
  @media (min-width: 768px) {
    .article-grid a {
      max-height: 193px;
      transition: all 0.2s ease; }
      .article-grid a:hover, .article-grid a:focus {
        opacity: 1; } }
.article-grid img {
  width: 100%;
  vertical-align: middle; }

.video-iframe-grid .row .col-4 {
  padding: 7.5px;
  text-align: center; }
  .video-iframe-grid .row .col-4 p {
    margin-bottom: 5px; }
    @media (min-width: 600px) {
      .video-iframe-grid .row .col-4 p {
        font-size: 12px; }
        .video-iframe-grid .row .col-4 p span.first {
          display: none; } }
    @media (min-width: 980px) {
      .video-iframe-grid .row .col-4 p {
        font-size: 14px; }
        .video-iframe-grid .row .col-4 p span.first {
          display: inline-block; } }
  .video-iframe-grid .row .col-4:first-child {
    padding-left: 0; }
  .video-iframe-grid .row .col-4:last-child {
    padding-right: 0; }

.widget-area h3 {
  font-size: 15px;
  margin-bottom: 10px; }
