@import '_base';

.back-btn-wrap {
  display:none;
  text-align:left !important;
  padding:0 15px !important;
  background:none !important;
  margin:{
    top:-5px;
    bottom:20px !important;
  }
  @media (min-width:$bp-medium) {
    padding:0 !important;
  }
  &.last {
    margin-top:$side-spacing-mobile !important;
  }
  .btn {
    color:#505050;
    background:$black-full;
    &:hover,
    &:focus {
      color:$white-full;
    }
  }
}

//only show 'back to parent page' button on child pages
body.page-id-384,
body.page-id-218,
body.page-id-104,
body.page-id-108,
body.page-id-464,
body.page-id-493,
body.page-id-495,
body.page-id-676,
body.page-id-682 {
  .back-btn-wrap {
    display:block;
  }

}