@import '_base';

blockquote {
  @include font-default;
  clear:both;
  width:100%;
  line-height:1.3em;
  padding:10px 10px 10px 46px;
  margin-bottom:$spacing-main-cont;
  color:$grey-light-1;
  background:{
    color:$black-full;
    position:10px 8px;
  }
  p {
    color:$grey-light-3;
    font:{
      style:italic;
      weight:bold;
    }
    margin-bottom:0;
    /*
    &::after {
      display:inline-block;
      vertical-align:middle;
      content:'';
      width:25px;
      height:25px;
      background:url(../images/quote-close.png) no-repeat;
    }
    */
  }
}