@import '_base';

.btn {
  color:$grey-light-3;
  font-weight:bold;
  text-decoration:none;
  border:0 none;
  cursor:pointer;
}

.btn-sm {
  padding:9px;
  font-size:12px;
}

.btn-green {
  background:$green-1;
}

.btn-black {
  background:$black-full;
}

.btn-grey {
  background:$grey-dark-1;
}