@import '_base';

input,
textarea {
  background:$black-full;
  color:#606060;
}

input {
  border:0 none;
  padding:15px;
  background:$black-full;
  color:#606060;

}

textarea {
  padding:15px;
  background:$black-full;
  color:#606060;
}