@import '_base';

input,
textarea {
  background:$black-full;
  //color:#606060;
  color:$grey-light-1;
  font-size:14px;
  border:0 none;
  padding:15px;
}

input[type="submit"] {
  cursor:pointer;
  padding:12px 13px;
  background:$green-1;
  color:$grey-light-3;
  font-weight:bold;
}

textarea {
}