@import '_base';

.social-share {
  display:inline-block;
  width:100%;
  margin:15px 0 15px;
  border-bottom:solid 3px $black-2;
  .twitter,
  .facebook {
    float:left;
  }
  .facebook {
    margin-right:15px;
  }
  .twitter {
    width:86px;
    overflow:hidden;
  }
}