$html-name-space:'body.page-id-488';

#{$html-name-space} {

  .parent-page-links-grid {
    .col-3,
    .col-4 {
      max-height:100%;
      margin-bottom:0;
      img {
        margin-bottom:0;
      }
    }
  }

}

@import '_refuge';
@import '_mental-health-foundation';
