@import '_base';

#{$footer-wrap} {
  background:$black-full;
  margin-top:70px;
  @media (min-width:$bp-medium) {
    margin-top:100px;
  }
}

#{$footer} {
  padding:40px $side-spacing-mobile 10px $side-spacing-mobile;

  .footer-box {
    margin:0;
  }
  .social-icons {
    display:block;
    padding:{
      top:10px;
      bottom:30px;
    }
    @media (min-width:$bp-small) {
      float:right;
      clear:none;
      padding:0;
    }
    ul {
      float:left;
      @media (min-width:$bp-small) {
        float:right;
      }
    }
  }
}

#{$footer-nav} {

  padding-bottom:$spacing-main-cont;

  .widget-title {
    display:none;
  }
  li {
    float:left;
    width:80px;
    margin:{
      right:20px;
      bottom:8px;
    }
    &:nth-child(3n) {
      clear:both;
      @media (min-width:$bp-small) {
        clear:none;
      }
    }
    a {
      text-decoration:none;
      color:$grey-light-2;
      font-weight:bold;
    }
  }
}


.footer-copyright {
  p {
    color:#474747;
    margin-bottom:0;
  }
}
