@import '_base';

#{$gallery} {
  a {
    border-radius:0;
    width:$col-4-w;
    margin:0 !important;
    padding:10px;
    background-color:transparent !important;
    &:nth-child(1n) {
      padding-left:0;
    }
    &:nth-child(3n) {
      padding-right:0;
    }
  }
}