@import '_base';

//spacing for all pages with gallery 
.page-id-82,
.page-id-84,
.page-id-86,
.page-id-106 {
  #{$left-container} {
    padding:5px;
    @media (min-width:$bp-medium) {
      margin:0 0 0 -10px;
    }
  }
}

//the actual gallery items
#{$gallery} {
  a {
    border-radius:0;
    width:$col-4-w;
    margin:0 !important;
    background-color:transparent !important;
    max-height:139px;
    vertical-align:top;
  }
  img {
    width:100%;
    margin-bottom:0;
    padding:10px;
  }
}


//modal
.fbx-light {
  .fbx-inner {
    border:0 none;
    background:$black-full;
    box-shadow:0 2px 29px #000;
  }
  .fbx-count {
    display:none;
  }
}

.fbx-modal.fbx-phone {
  border-color:$black-full !important;
  .fbx-prev, 
  .fbx-next,
  .fbx-close {
    background:$black-full !important;
  }
}

.fbx-rounded.fbx-tablet,
.fbx-rounded.fbx-desktop {
  .fbx-prev, 
  .fbx-next {
    background:none;
    &::before {
      color:$grey-light-3;
    }
  } 
  .fbx-close {
    display:none;
  }
}