@import '_base';

#{$header-wrap} {
  background:$black-full;
  margin-bottom:$spacing-main-cont;
}

#{$header} {
  position:relative;
  text-align:left;
  padding:$spacing-main-cont $side-spacing-mobile 0;
  @media (min-width:$bp-medium) {
    padding-bottom:5px;
  }
}

#{$header-logo} {
  float:left;
  max-width:200px;
  @media (min-width:$bp-x-small) {
    max-width:100%;
  }

  img {
    width:100%;
    max-width:253px;
  }
}

#{$header-nav} {
  float:right;
  @media (min-width:$bp-large) {
    float:left;
    clear:both;
    padding:{
      top:10px;
      right:$side-spacing-mobile - 10px;
    }
  }
  .dropdown-menu {
    ul {
      background:$black-full;
    }
    a {
      padding:10px;
      color:$grey-light-2;
      text-transform:uppercase;
      font:{
        weight:bold;
      }
      &:hover,
      &:focus {
        @include header-nav-active-item;
      }
    }
    > li {
      margin:0;
      > a {
        padding:0 9px;
        font-size:12px;
        transition:all 0.2s ease;
        @media (min-width:$bp-large + 65px) {
          padding:0 10px;
          font-size:13px;
        }
      }
    }
    li.current-menu-item > a,
    li.current-page-parent > a {
      @include header-nav-active-item;
    }
  }
  li.sfHover > a {
    @include header-nav-active-item;
  }

  //overide default theme styles
  #site-navigation .sf-menu {
    display:none;
    @media (min-width:$bp-large) {
      display:block;
    }
  }
}

a#navigation-toggle {
  line-height:30px;
  height:auto;
  padding-left:0;
  @media (min-width:$bp-x-small) {
    padding-left:$side-spacing-mobile;
  }
  @media (min-width:$bp-large) {
    display:none;
  }
}