@import '_base';

#{$header-wrap} {
  position:fixed;
  z-index:9;
  top:0;
  left:0;
  width:100%;
  margin-bottom:$spacing-main-cont;
  background:$black-full;

  @media (min-width:$bp-large) {
    background:$black-full;
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0, $black-full),
      color-stop(1, #292929)
    );
    background-image: -o-linear-gradient(bottom, $black-full 0%, #292929 100%);
    background-image: -moz-linear-gradient(bottom, $black-full 0%, #292929 100%);
    background-image: -webkit-linear-gradient(bottom, $black-full 0%, #292929 100%);
    background-image: -ms-linear-gradient(bottom, $black-full 0%, #292929 100%);
    background-image: linear-gradient(to bottom, $black-full 0%, #292929 100%);
  }
}

#{$header} {
  position:relative;
  text-align:left;
  padding:15px 15px 10px 15px;

  @media (min-width:$bp-large) {
    padding:{
      top:20px;
      bottom:0;
    }
  }
}

#{$header-logo} {
  float:left;
  max-width:200px;
  @media (min-width:$bp-x-small) {
    max-width:100%;
  }

  a {
    display:inline-block;
  }

  img {
    width:100%;
    max-width:283px;
    float:left;
    margin:{
      right:9px;
      bottom:0;
    }
  }

  .fa {
    display:none;
    @media (min-width:$bp-x-small) {
      float:left;
      display:block;
      opacity:0.4;
      margin-top:7px;
      color:$white-full;
      font-size:21px;
    }
  }
}

#{$header-quote} {
  display:none;
  p {
    margin-bottom:0;
    color:$white-full;
  }
  strong {
    color:$grey-light-1;
  }
  @media (min-width:$bp-large + 30px) {
    display:block;
    float:left;
    font-size:13px;
    padding:{
      top:7px;
      left:39px;
    }
  }
  @media (min-width:$bp-large + 65px) {
    float:right;
    padding-right:25px;
    font-size:13px;
  }
}


#{$header-nav} {
  float:right;
  @media (min-width:$bp-large) {
    float:left;
    clear:both;
    padding:{
      top:10px;
      right:$side-spacing-mobile - 10px;
    }
  }
  .dropdown-menu {
    ul {
      background:$black-full;
    }
    a {
      padding:10px;
      color:$grey-light-2;
      text-transform:uppercase;
      font:{
        weight:bold;
      }
      &:hover,
      &:focus {
        @include header-nav-active-item;
      }
    }
    > li {
      margin:0;
      &:first-child {
        display:none;
      }
      > a {
        padding:0 8px;
        font-size:12px;
        transition:all 0.2s ease;
        @media (min-width:$bp-large + 65px) {
          font-size:13px;
          padding:0 9px;
        }
      }
    }
    li.current-menu-item > a,
    li.current-page-parent > a {
      @include header-nav-active-item;
    }
  }
  li.sfHover > a {
    @include header-nav-active-item;
  }

  //overide default theme styles
  #site-navigation .sf-menu {
    display:none;
    @media (min-width:$bp-large) {
      display:block;
    }
  }
}

a#navigation-toggle {
  line-height:30px;
  height:auto;
  padding-left:0;
  &:hover,
  &:focus {
    color:#888;
  }
  @media (min-width:$bp-x-small) {
    line-height:40px;
    padding-left:$side-spacing-mobile;
  }
  @media (min-width:$bp-large) {
    display:none;
  }
}