@import '_base';

body {
  @include font-default;
  background:$black-1;
  color:$grey-light-1;
  font-size:13px;
}

#{$header},
#{$main-container},
#{$footer} {
  width:100%;
  max-width:960px;
  margin:0 auto;
}

#{$main-container} {
  @media (min-width:768px) {
    padding:0 $spacing-main-cont;
  }
}

.page-content {
  #{$left-container},
  #{$right-container} {
    @media (min-width:768px) {
      float:left;
    }
  }
  #{$left-container} {
    padding:$side-spacing-mobile;
    @media (min-width:768px) {
      width:70%;
      padding:0;
    }
  }
  #{$right-container} {
    display:none;
    @media (min-width:768px) {
      display:block;
      width:30%;
      padding-left:$spacing-main-cont + 15px;
    }
  }
}

.row {
  float:left;
  clear:both;
  width:100%;
}