@import '_base';

body {
  @include font-default;
  background:$black-full;
  color:$grey-light-1;
  font-size:13px;
}

.page-wrap {
  background:$black-1 url(../images/body-bg.jpg) no-repeat 0 106px;
}

#{$header},
#{$main-container},
#{$footer} {
  width:100%;
  max-width:960px;
  margin:0 auto;
}

#{$main-container} {
  @media (min-width:$bp-medium) {
    padding:0 $spacing-main-cont;
  }
}

.page-content {
  #{$left-container},
  #{$right-container} {
    @media (min-width:$bp-medium) {
      float:left;
    }
  }
  #{$left-container} {
    padding:$side-spacing-mobile;
    @media (min-width:$bp-medium) {
      width:70%;
      padding:0;
    }
  }
  #{$right-container} {
    clear:both;
    width:100%;
    @media (min-width:$bp-medium) {
      width:30%;
      clear:none;
      padding-left:$spacing-main-cont + 15px;
    }
  }
}

.row {
  float:left;
  clear:both;
  width:100%;
}