@import '_base';

#{$right-container} .menu {
  background:$black-full;
  padding:20px;
  a {
    display:inline-block;
    text-decoration:none;
  }
  h3 a {
    color:$grey-light-3;
    padding-bottom:10px;
    &:hover,
    &:focus {
      color:$yellow-1;
    }
  }
  li a {
    padding:5px 0;
    color:$grey-light-1;
    &:hover,
    &:focus {
      color:$yellow-1;
    }
  }
  li:last-child a {
    padding-bottom:0;
  }
}


//http://stackoverflow.com/questions/26545181/how-to-display-sub-child-pages-only-when-on-direct-parent-page
.page_item_has_children > .children {display: none;} //hides the submenu
.page_item_has_children.current_page_item > .children,
.page_item_has_children.current_page_ancestor > .children {display: block;} //shows the submenu for the current page or when on its subpages
