@import '_base';

#{$right-container} .menu {
  background:$black-full;
  padding:$spacing-main-cont;
  a {
    display:inline-block;
    vertical-align:top;
    text-decoration:none;
  }
  h3 {
    text-transform:uppercase;
    a {
      color:$grey-light-3;
      padding-bottom:10px;
      &:hover,
      &:focus {
        color:$yellow-1;
      }
    }
  }
  ul {
    padding-left:$side-spacing-mobile;
  }
  li {
    text-transform:uppercase;
    list-style-type:disc;

    //hide 'page home' links from RH menu (header only)
    &.page-item-828, //boxing home
    &.page-item-831, //media home
    &.page-item-834, //movement direction home
    &.page-item-837, //public speaking home
    &.page-item-839, //coaching home
    &.page-item-842, //galleries home
    &.page-item-848, //about home
    &.page-item-845 { //charity home
      display:none !important;
    }

    a {
      padding:5px 0;
      color:$grey-light-1;
      &:hover,
      &:focus {
        color:$yellow-1;
      }
    }
  }
  li:last-child a {
    padding-bottom:0;
  }

  + .menu {
    margin-top:$spacing-main-cont + 15px;
  }
}


//http://stackoverflow.com/questions/26545181/how-to-display-sub-child-pages-only-when-on-direct-parent-page
.page_item_has_children > .children {display: none;} //hides the submenu
.page_item_has_children.current_page_item > .children,
.page_item_has_children.current_page_ancestor > .children {display: block;} //shows the submenu for the current page or when on its subpages
