@import '_base';

#{$social-icons} {
  display:none;
  @media (min-width:$bp-medium) {
    display:block;
    float:left;
    clear:both;
    width:100%;
    margin-bottom:$spacing-main-cont;
  }
  ul {
    float:right;
  }
  li {
    display:inline-block;
    vertical-align:top;
    margin:0 2.5px;
    &:first-child {
      margin-left:0;
    }
    &:last-child {
      margin-right:0;
    }
    &.facebook a {
      color:#3B5998;
    }
    &.twitter a {
      color:#00abf1;
    }
    &.linkedin a {
      color:#0083be;
    }
    &.youtube a {
      color:#cf2200;
    }
  }
  a {
    display:block;
    width:25px;
    height:22px;
    opacity:0.7;
    font-size:22px;
    @media (min-width:$bp-medium) {
      transition:all 0.2s ease;
      &:hover,
      &:focus {
        opacity:1;
      }
    }
  }
}