@import '_base';

.video-iframe-grid {
  .row .col-4 {
    padding:$side-spacing-mobile / 2;
    text-align:center;
    p {
      margin-bottom:5px;
      @media (min-width:$bp-small) {
        font-size:12px;
        span.first {
          display:none;
        }
      }
      @media (min-width:980px) {
        font-size:14px;
        span.first {
          display:inline-block;
        }
      }
    }
    &:first-child {
      padding-left:0;
    }
    &:last-child {
      padding-right:0;
    }
  }
}