@import '_base';

.video-iframe-grid {
  .row > div {
    padding:{
      top:0;
      right:$side-spacing-mobile / 2;
      bottom:$side-spacing-mobile;
      left:$side-spacing-mobile / 2;
    }
    text-align:center;
    .inner {
      padding:$side-spacing-mobile;
      background:$black-full;
    }
    p {
      margin-bottom:5px;
      text-transform:uppercase;
      @media (min-width:$bp-small) {
        font-size:12px;
        span.first {
          display:none;
        }
      }
      @media (min-width:980px) {
        font-size:14px;
        span.first {
          display:inline-block;
        }
      }
      &:last-child {
        margin-bottom:0;
      }
    }
  }
}