$white-full:#FFF;

$black-full:#050505;
$black-1:#212121;
$black-2:#252525;

$grey-light-1:#D6D6D6;
$grey-light-2:#808080;
$grey-light-3:#C5C5C5;
$grey-light-4:#EEE;

$grey-dark-1:#515151;
$grey-dark-2:#495761;

$blue-dark-1:#3A81A5;

$yellow-1:#FFD100;

$green-1:#2C4721;

$red-1:#A10D00;

$pink-1:#E64690;