$header-wrap:'.header-wrap';
$header:'.header-container';
$header-logo:$header + ' .logo';
$header-nav:$header + ' .header-nav';

$main-container:'.main-container';

$left-container:'.left-container';
$right-container:'.right-container';

