$header-wrap:'.header-wrap';
$header:'.header-container';
$header-logo:$header + ' .logo';
$header-nav:$header + ' .header-nav';

$main-container:'.main-container';

$left-container:'.left-container';
$right-container:'.right-container';

$page-content:'.page-content';

$side-spacing-mobile:15px;
$spacing-main-cont:20px;
$spacing-main-cont-large:$spacing-main-cont + 10px;