$header-wrap:'.header-wrap';
$header:'.header-container';
$header-logo:$header + ' .logo';
$header-nav:$header + ' .header-nav';

$footer-wrap:'.footer-wrap';
$footer:'.footer-container';
$footer-nav:$footer + ' .menu-menu-1-container';


$main-container:'.main-container';

$left-container:'.left-container';
$right-container:'.right-container';

$sidebar:'#sidr-main';

$page-content:'.page-content';

$social-icons:'.social-icons';

$gallery:'.foogallery-default.border-style-rounded';


$blog-home:'body.page-id-202';
$single-post:'body.single-post';

$comments:'.comments-area';



$side-spacing-mobile:15px;
$side-spacing-mobile-small:5px;
$spacing-main-cont:20px;
$spacing-main-cont-large:$spacing-main-cont + 10px;