@mixin left-container-full-width {
  #{$left-container} {
    width:100%;
  }
  #{$right-container} {
    display:none;
  }
}

@mixin input-placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}

@mixin header-nav-active-item {
  background:$yellow-1;
  color:$black-full;
}

@mixin right-container-videos-alignment {
  #{$right-container} {
    @media (min-width:$bp-medium) {
      padding-top:50px;
    }
  }
}