@import '_base';

* {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

img {
  display:block;
  margin:0 auto 20px auto;
  @media (min-width:768px) {
    margin:0;
  }
}


.alignleft {
  @media (min-width:768px) {
    float:left;
  }
}

.alignright {
  @media (min-width:768px) {
    float:right;
  }
}

iframe {
  width:100%;
  max-width:100%;
}

.logged-in-as {
  a {
    text-decoration:none;
    &:hover,
    &:focus {
      text-decoration:underline;
    }
    &:last-child {
      color:$grey-dark-1;
    }
  }
}