@import '_base';

::-moz-selection {
  background:$yellow-1;
  color:#000;
  text-shadow:none;
}
::selection {
  background:$yellow-1;
  color:#000;
  text-shadow:none;
}

.post-edit-link {
  display:none;
}

h2 {
  margin-top:0;
  margin:{
    top:0;
    bottom:20px;
  }
}

h1,
h2,
h3,
h4,
h5 {
  color:$grey-light-3;
}

a {
  color:$blue-dark-1;
  text-decoration:underline;
  &:hover,
  &:focus {
    text-decoration:none;
  }
}