
@mixin font-default {
  font-family:Helvetica, arial, sans-serif;
}

@import '_misc';
@import '_typography';

@import 'blocks/_layout-containers';
@import 'blocks/_header';
@import 'blocks/_rh-menu';
//@import 'elements/';


@import 'view-specific/home/_home';
@import 'view-specific/boxing/_boxing';
@import 'view-specific/media/_media';


img {
  display:block;
  margin:0 auto 20px auto;
  @media (min-width:768px) {
    margin:0;
  }
}

h2.page-title {
  clear:both;
  color:$grey-light-3;
  padding:0 $side-spacing-mobile;
  @media (min-width:768px) {
    padding:0;
  }
}

blockquote {
  @include font-default;
  clear:both;
  width:100%;
  line-height:1.3em;
  padding:10px 10px 10px 46px;
  margin-bottom:$spacing-main-cont;
  color:$grey-light-1;
  background:{
    color:$black-full;
    position:10px 8px;
  }
  p {
    color:$grey-light-3;
    font:{
      style:italic;
      weight:bold;
    }
    margin-bottom:0;
  }
}

//media
body.page-template-media {
  #{$page-content} {
    /*
    .col-3 {
      padding-right:15px;
    }
    */
  }
}


//sidebar
#sidr-main {
  background:$black-full;
}



.article-grid {

  .col-3 {
    float:left;
    width:$col-6-w;
    padding:$side-spacing-mobile-small;
    &:nth-child(odd) {
      clear:left;
      @media (min-width:768px) {
        clear:none;
      }
    }
    @media (min-width:768px) {
      width:$col-3-w;
      clear:none;
      padding:$side-spacing-mobile / 2;
      &:first-child {
        padding-left:0;
      }
      &:last-child {
        padding-right:0;
      }
    }
  }

  a {
    display:block;
    opacity:0.8;
    max-height:150px;
    overflow-y:hidden;
    @media (min-width:50px) {
      max-height:180px;
    }
    @media (min-width:768px) {
      max-height:193px;
      transition:all 0.2s ease;
      &:hover,
      &:focus {
        opacity:1;
      }
    }
  }
  img {
    width:100%;
    vertical-align:middle;
  }
}


.social-icons {
  float:left;
  clear:both;
  width:100%;
  margin-bottom:$spacing-main-cont;
  ul {
    float:right;
  }
  li {
    display:inline-block;
    vertical-align:top;
    margin:0 5px;
    &:first-child {
      margin-left:0;
    }
    &:last-child {
      margin-right:0;
    }
  }
  a {
    display:block;
    text-indent:-9999px;
    width:25px;
    height:25px;
    background:#CCC;
  }
}


//gallery
.foogallery-default.border-style-rounded {
  a {
    border-radius:0;
    width:$col-4-w;
    margin:0 !important;
    padding:10px;
    background-color:transparent !important;
    &:nth-child(1n) {
      padding-left:0;
    }
    &:nth-child(3n) {
      padding-right:0;
    }
  }
}




.alignleft {
  @media (min-width:768px) {
    float:left;
  }
}

.alignright {
  @media (min-width:768px) {
    float:right;
  }
}
