$html-name-space:'body.home';


#{$html-name-space} {

  .home-intro,
  .home-small-banner {
    margin-bottom:$spacing-main-cont;
  }

  .home-small-banner {
    padding:$spacing-main-cont;
    background:$black-full;
    .col-3 {
      width:100%;
      float:none;
      @media (min-width:$bp-medium) {
        width:$col-3-w;
        float:left;
      }
      img {
        display:block;
        margin-bottom:15px;
        @media (min-width:$bp-medium) {
          margin-bottom:0;
          padding-right:25px;
        }
      }
    }
    .col-8 {
      width:100%;
      margin:0 auto;
      text-align:center;
      float:none;
      @media (min-width:$bp-x-small) {
        max-width:350px;
      }
      @media (min-width:$bp-medium) {
        float:left;
        width:$col-9-w;
        max-width:$col-9-w;
        text-align:left;
      }
      @media (min-width:$bp-large + 60px) {
        max-width:60%;
        padding-top:5px;
        text-align:center;
        font-size:0.950em;
      }
    }
    .col-2:last-child {
      display:none;
      @media (min-width:$bp-large + 60px) {
        display:block;
        float:right;
        max-width:104px;
      }
    }
    img {
      vertical-align:middle;
    }
    p {
      margin-bottom:0;
      br {
        display:none;
        @media (min-width:$bp-medium) {
          display:block;
        }
        @media (min-width:820px) {
          display:none;
        }
      }
    }
  }

  .home-3-banners {
    .col-4 {
      text-align:center;
      width:100%;
      padding:{
        right:$side-spacing-mobile;
        bottom:$spacing-main-cont;
        left:$side-spacing-mobile;
      }
      @media (min-width:$bp-x-small) {
        float:left;
        width:$col-6-w;
        &:first-child {
          padding-right:$side-spacing-mobile / 2;
        }
        &:last-child {
          padding-left:$side-spacing-mobile / 2;
        }
      }
      @media (min-width:$bp-medium) {
        width:$col-4-w;
        padding:{
          top:0;
          right:$spacing-main-cont;
          bottom:$spacing-main-cont;
          left:$spacing-main-cont;
        }
      }
      .inner {
        min-height:162px;
        background:$black-full;
      }
      img {
        margin:0 auto;
      }
      &:first-child {
        @media (min-width:$bp-medium) {
          padding-left:0;
        }
      }

      &:last-child {
        display:none;
        @media (min-width:$bp-medium) {
          display:block;
          padding-right:0;
          .inner {
            padding:61px $side-spacing-mobile;
          }
        }
      }

    }
  }


}