$html-name-space:'body.home';


#{$html-name-space} {

  .home-intro {
    float:left;
    width:100%;
    background:$black-full;

    .left,
    .right { 
      width:100%;
      clear:both;
      @media (min-width:768px) {
        clear:none;
      }
    }
    .left {
      padding:30px;
      @media (min-width:768px) {
        float:left;
        width:53%;
        padding:{
          top:30px;
          bottom:0;
          right:0;
          left:30px;
        }
      }
    }
    .right {
      @media (min-width:768px) {
        float:right;
        width:441px;
      }
    }
    h2 {
      color:$white-full;
      font-size:15px;
      margin-bottom:15px;
    }
    img {
      width:100%;
      vertical-align:middle;
    }
  }


}