$html-name-space:'body.page-id-2';

#{$html-name-space} {

  .left-container {
    .col-4 {
      padding-right:$spacing-main-cont;
    }
    blockquote + .row {
      margin-bottom:$side-spacing-mobile;
    }

  }

}